{% include base_path %}

<div class="{{ include.type | default: "list" }}__item" style="width: 100%;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork" style="width: 100%; max-width: 100%; white-space: normal; overflow: visible;">
    
    <ul>
      {% if post.citation %}
        <li class="citation-single-line" style="width: 100%; max-width: 100%; white-space: normal; overflow: visible;">
          {{ post.citation | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
          {% if post.paperurl %}
            (<a href="{{ post.paperurl }}" download>Download Paper</a>)
          {% endif %}
        </li>
      {% endif %}
    </ul>

  </article>
</div>
