{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <ul>
      {% if post.citation %}
        <li>
          {{ post.citation | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
        </li>
      {% else %}
        <li>
          <strong>{{ post.title }}</strong>
          {% if post.date %}<br>{{ post.date | date: '%B %d, %Y' }}{% endif %}
          {% if post.venue %} at {{ post.venue }}{% endif %}
          {% if post.excerpt %}<br>{{ post.excerpt | markdownify }}{% endif %}
          {% if post.slidesurl %}
            <br>(<a href="{{ post.slidesurl }}" download>Download Slides</a>)
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </article>
</div>
